# directories
cache
node_modules
out

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
yarn.lock

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/

# coverage report
html/
lcov*

# deployed contracts addresses
deployed-contracts-info

docs/

Error.t.sol

d26f76ae-311c-413b-92aa-452ef50f0b22
